
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40vw
}



body{
    background-color: #FEFFE2;
    font-family: sora, sans-serif;
    margin: 0;
    cursor: url("https://res.cloudinary.com/dfz4jowva/image/upload/v1745136490/arrowhead-rounded-outline_2_epi4sv.svg"), auto;
}

.imga {
    height: auto;
    width: 180px;
    margin: 8px 0 0 8px;
}

div{
    margin-top: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
}

li {
    float: right;
    gap: 10px;
    padding: 10px;
    margin: 8px;
}

.signinbtn {
  border: 1px solid;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.signinbtn:hover{
  color: #FEFFE2;
  background-color: black;
}

li a{
    color: black;
    text-decoration: none;
    display: block;
    font-family: sora, sans-serif;
    font-size: 1.2rem;
    font-weight: bold transparent;
    padding: 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

li a:hover {
    font-weight: bold;
}

.container {
    margin: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.txtdiv {
    justify-content: left;
}

.txta {
    font-size: 4rem;
}



.imgdiv {
  display: flex;
    align-items: center;
    justify-content: right;
}

.imgb {
    height: auto;
    width: 30rem;
}

.shopbtn {
    margin: 1rem 0 0 0;
    color:black;
    background-color: transparent;
    border: 1px solid;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 2px 5px 10px #E8E8E8;
    text-decoration: none;
    cursor: pointer;
}

.shopbtn:hover {
    color:#FEFFE2;
    background-color: black;
    border: 1px solid;
    transition-duration: 0.3s;
}


.shop-image{
    height: 24rem;
    width: 24rem;
    object-fit: cover;
    border-radius: 25px;
}

.shop-images{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 25px;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .shop-container {
    font-style: normal;
    margin: 1rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 10px;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: none;
    display: inline-flex;
    gap: 1rem;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 1;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.shop-text {
    font-size: 3rem;
}

.shop-text-a{
    font-size: 3rem;
    font-weight: bold;
}

.shop-text-b{
    font-size: 1rem;
    font-weight: bold;
    color:#767676;
}

.shop-text-c{
    font-size: 1.8rem;
    font-weight: bold;
    color:#fff200;
}

.place-btn {
    margin: 1rem 0 1rem 0;
    color:rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 2px 5px 10px #E8E8E8;
    text-decoration: none;
    cursor: pointer;
}

.place-btn:hover {
    color:#000000;
    background-color: #FEFFE2;
    border: 1px solid;
    transition-duration: 0.3s;
}

.formsubmit {
    display: flex;
    flex-wrap: initial;
    align-items: center;
    justify-content: center;
}

@media (max-width: 687px) {
    .txta {
        font-size: 2.3rem;
    }

    .shopbtn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .imgb {
        height: auto;
        width: 20rem;
    }

    .shop-container {
        font-style: normal;
        margin: 1rem;
        display: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
      }
}
.footer {
    background-color: black;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright {
    color: rgb(199, 199, 199);
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.footimg {
    filter: invert(100%);
    height: auto;
    width: 18rem;
    margin: 0;
    padding: 3rem 0 0 0;
}

input {
    border: #000000 1px solid;
    border-radius: 12.5px;
    font-family: sora, sans-serif;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    margin :0.2rem;
}